/***** 
 * 
 * 
le Css des 4 widgets 
*
*
*
*/
.graph{
    display: flex;
    
    justify-content: center;
    text-align: center;
  
  margin-top: 3%;
  box-shadow:0 10px 15px gray;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

  border-radius: 10px;
  height: 80%;
  padding: 40px;
  padding-bottom: 50px;
  background-color:rgba(17, 17, 17, 0.795);
 
  
}

.graph:hover{

  transform: scale(1.2,1.2);
  background-color: rgba(17, 17, 17, 0.925);
  padding-bottom: 50px;
  
  
  
}
/*
.moteur{
  color: aqua;
  display: flex;
  
  justify-content: center;
  text-align: center;

  margin-top: 6%;
  box-shadow:0 10px 15px gray;
  width: 50%;
  
  margin-left: 25%;
  margin-right: 25%;


  border-radius: 10px;
  
  background-color:rgba(255, 255, 255, 0.116);


}
.moteur:hover{

  transform: scale(1.2,1.2);
  background-color: rgb(21, 20, 63);
  padding-bottom: 50px;
  
  
  
}
*/

.moteurD{
  display: block;
  color: aqua;
  justify-content: center;
  text-align: center;
  margin: 0 2% !important;
  position: absolute; 
width: 22%; 
right: 10%; 
height: 50%; 
background-color: rgba(17, 17, 17, 0.795);
border-radius: 10px;
box-shadow:0 10px 15px gray;
padding-bottom: 5px;
margin-bottom: 0;
top: 700px;
bottom: 0;



}
.moteurD:hover{

  transform: scale(1.2,1.2);
  background-color: rgba(17, 17, 17, 0.925);
 
  
  
  
}
.moteurG{
  color: aqua;
  justify-content: center;
  text-align: center;
  margin: 0 2% !important;
  position: absolute; 
width: 22%; 
height: 315px; 
left: 10%; 
background-color: rgba(17, 17, 17, 0.795);
border-radius: 10px;
box-shadow:0 10px 15px gray;
padding-bottom: 5px;
top: 700px;
}
.moteurG:hover{

  transform: scale(1.2,1.2);
  background-color: rgba(17, 17, 17, 0.925);
  
  
  
  
}
.moteurC{
  color: aqua;
  justify-content: center;
  text-align: center;
  margin: 0 2% !important;

  position: absolute; 
  width: 22%; 
  left: 37.5%; 
  height: 315px; 
  background-color: rgba(17, 17, 17, 0.795);
  border-radius: 10px;
  box-shadow:0 10px 15px gray;
  padding-bottom: 5px;
  top: 700px;

  }
  .moteurC:hover{

    transform: scale(1.2,1.2);
    background-color: rgba(17, 17, 17, 0.925);
    
    
    
  }
