/***** 
 * 
 * 
le Css des 4 widgets 
*
   display: flex;
    
    justify-content: center;
    text-align: center;
  
  margin-top: 3%;
  box-shadow:0 10px 15px gray;
  width: 50%;
  right: 30%; 
height: 60%; 
top: 150px;
  
  border-radius: 10px;
  height: 80%;
  padding: 40px;
  padding-bottom: 50px;
  background-color:rgba(17, 17, 17, 0.795);
 
*

display: block;
  color: aqua;
  justify-content: center;
  text-align: center;
  margin: 0 2% !important;
  position: absolute; 
width: 50%; 
right: 30%; 
height: 60%; 
background-color: rgba(17, 17, 17, 0.795);
border-radius: 10px;
box-shadow:0 10px 15px gray;
padding-bottom: 5px;
margin-bottom: 0;
top: 150px;
*
*/
.graph{
  display: block;
  color: aqua;
  justify-content: center;
  text-align: center;
  margin: 0 2% !important;
  position: absolute; 
width: 52%; 
right: 30%; 
height: 60%; 
background-color: rgba(17, 17, 17, 0.795);
border-radius: 30%;
box-shadow:0 10px 15px gray;

padding: 40px;
margin-bottom: 0;
top: 150px;
 
  
}

.graph:hover{

  transform: scale(1.1,1.1);
  background-color: rgba(17, 17, 17, 0.925);
  
  padding-bottom: 50px;
  
  
  
}
/*
.moteur{
  color: aqua;
  display: flex;
  
  justify-content: center;
  text-align: center;

  margin-top: 6%;
  box-shadow:0 10px 15px gray;
  width: 50%;
  
  margin-left: 25%;
  margin-right: 25%;


  border-radius: 10px;
  
  background-color:rgba(255, 255, 255, 0.116);


}
.moteur:hover{

  transform: scale(1.2,1.2);
  background-color: rgb(21, 20, 63);
  padding-bottom: 50px;
  
  
  
}
*/

.moteurD{
  display: block;
  color: aqua;
  justify-content: center;
  text-align: center;
  margin: 0 2% !important;
  position: absolute; 
width: 22%; 
right: 10%; 
height: 315px; 
background-color: rgba(17, 17, 17, 0.795);
border-radius: 10px;
box-shadow:0 10px 15px gray;
padding-bottom: 5px;
margin-bottom: 0;
top: 700px;
bottom: 0;
line-height: 0.6;




}


.moteurD:hover{

  transform: scale(1.1,1.1);
  background-color: rgba(17, 17, 17, 0.925);
 
  
  
  
}
.moteurC{
  color: aqua;
  justify-content: center;
  text-align: center;
  margin: 0 2% !important;
  position: absolute; 
width: 22%; 
height: 315px; 
left: 10%; 
background-color: rgba(17, 17, 17, 0.795);
border-radius: 10px;
box-shadow:0 10px 15px gray;
padding-bottom: 5px;
top: 700px;
line-height: 0.6;



}
.moteurG:hover{

  transform: scale(1.1,1.1);
  background-color: rgba(17, 17, 17, 0.925);
  
  
  
  
}
.moteurG p1{
  color: gray;
  font-size: 10px;
  
  
}
.moteurD p1{
  color: gray;
  font-size: 10px;
  
  
}
.moteurC p1{
  color: gray;
  font-size: 10px;
  
  
}
.moteurG{

  color: aqua;
  justify-content: center;
  text-align: center;
  margin: 0 2% !important;
  position: absolute; 
  width: 22%; 
  left: 37.5%; 
  height: 315px; 
  background-color: rgba(17, 17, 17, 0.795);
  border-radius: 10px;
  box-shadow:0 10px 15px gray;
  padding-bottom: 5px;
  top: 700px;
  line-height: 0.6;
 
  

  }
  .moteurC:hover{

    transform: scale(1.1,1.1);
    background-color: rgba(17, 17, 17, 0.925);
    
    
    
  }
