
.App{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*
.container{
  
width: 100%; 
margin-top: 50px;
margin-bottom: 0;
height: 100px;
bottom: 0;
background-color: yellow;
    

}
*/





