.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(14, 3, 3);
    height: 56px;
    border-bottom:solid 0.4px white;

}
.toolbar_nav{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;

}
.toolbar_logo a {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 2rem;



}
.toolbar_nav_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;


}
.espace{
    flex: 1;

}

.toolbar_nav_items li{
    padding: 0 0.5rem;


}
.toolbar_nav_items a {
    color: blanchedalmond;
    text-decoration: none;

}
.toolbar_nav_items a:hover,
.toolbar_nav_items a:active{
    color: rgb(206, 182, 182);
}